/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col, .col1 {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



    /* 1. 3 Column Grid 0px - 319px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    33.3333333333%
    Span 2:    66.6666666667%
    Span 3:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 319px) {
        
        .col {
            margin-left:0%;
            padding:0 0.5%;
        }
        
        .col1 {
            padding-left:0;
        }


        .hide_on_xsmall{
            display: none;
        }
        
        .show_on_small,
        .show_on_medium,
        .show_on_large{
            display: none;
        }
		
		.show_on_xsmall{
			display:inline;
		}
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .xsmall_1 {
            width:33.3333333333%;
        }
        .xsmall_2 {
            width:66.6666666667%;
        }
        .xsmall_3 {
            margin-left:0;
            width:100%;
        }
    }

    /* 2. 3 Column Grid 320px - 479px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    33.3333333333%
    Span 2:    66.6666666667%
    Span 3:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (max-width: 528px) {
        
        .col {
            margin-left:0%;
            padding:0 0.5%;
        }
        
        .col1 {
            padding-left:0;
        }

        .hide_on_small{
            display: none;
        }
        
        .show_on_xsmall,
        .show_on_medium,
        .show_on_large{
            display: none;
        }

        .show_on_small{
            display: inline;
        }
        
        
        .small_1 {
            width:33.3333333333%;
        }
        .small_2 {
            width:66.6666666667%;
        }
        .small_3 {
            margin-left:0;
            width:100%;
        }
    }

    /* 3. 8 Column Grid 480px - 959px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    12.5%
    Span 2:    25.0%
    Span 3:    37.5%
    Span 4:    50.0%
    Span 5:    62.5%
    Span 6:    75.0%
    Span 7:    87.5%
    Span 8:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 529px) and (max-width: 959px) {
        
        .col {
            margin-left:0%;
            padding:0 0.5%;
        }
        
        .col1 {
            padding-left:0;
        }
        
        .hide_on_medium{
            display: none;
        }

        .show_on_xsmall,
        .show_on_small,
        .show_on_large{
            display: none;
        }
		
		.show_on_medium{
			display:inline;
		}
        
        
        .medium_1 {
            width:12.5%;
        }
        .medium_2 {
            width:25.0%;
        }
        .medium_3 {
            width:37.5%;
        }
        .medium_4 {
            width:50.0%;
        }
        .medium_5 {
            width:62.5%;
        }
        .medium_6 {
            width:75.0%;
        }
        .medium_7 {
            width:87.5%;
        }
        .medium_8 {
            margin-left:0;
            width:100%;
        }
    }

    /* 4. 12 Column Grid 960px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 960px) {
        
        .col {
            margin-left:0%;
            padding:0 2%;
        }
        
        .col1 {
            padding-left:0;
        }
        
        .hide_on_large{
            display: none;
        }

        .show_on_xsmall,
        .show_on_small,
        .show_on_medium{
            display: none;
        }
		
		.show_on_large{
			display:inline;
		}

        
        .large_1 {
            width:8.33333333333%;
        }
        .large_2 {
            width:16.6666666667%;
        }
        .large_3 {
            width:25.0%;
        }
        .large_4 {
            width:33.3333333333%;
        }
        .large_5 {
            width:41.6666666667%;
        }
        .large_6 {
            width:50.0%;
        }
        .large_7 {
            width:58.3333333333%;
        }
        .large_8 {
            width:66.6666666667%;
        }
        .large_9 {
            width:75.0%;
        }
        .large_10 {
            width:83.3333333333%;
        }
        .large_11 {
            width:91.6666666667%;
        }
        .large_12 {
            margin-left:0;
            width:100%;
        }
    }

