body{
	line-height: 1.5;
	font-family: 'Arimo', sans-serif;
	-webkit-font-smoothing: antialiased;

}

h1, h2, h3{
	margin-bottom: .5em;
	
}

h1, h2{
	color: #46738B;
}

h3, .resume h5{
	color:#80949E;
}

h1 + p, h2 + p, h3 + p{
	margin-top: 0;
}

.container{
	width: 90%;
	max-width:1000px;
	margin: 0 auto;
}

article.container{
		padding-top: 7em;
}

.logo{
	height: 3em;
	float:left;
	border-radius: 50%;
	margin-left: -3.75em;
	background: white;
	padding: .5%;
	margin-top: -.5em;
/*	box-shadow: 0 0 2px #2D4A59;*/
	border: 2px solid #2D4A59;
}

.resume h3,
.resume h4{
	margin-bottom: 0;
}

.resume{
	padding-top: 0;
}

.resume h4 + p,
.resume h4,
.resume h3{
	margin-top: 0;
}

.resume ul{
	margin:0;
}

.resume h2{
	border-bottom:1px dashed lightgray;
	display: inline-block;
}

.resume h2:target{
	color:#6DB2D7;
}
.resume div.large_12{
	margin-top: 2%;
}

.resume h2 + div.large_12 {
	margin-top: 0;
}

header{
	font-family: 'Roboto', sans-serif;
	background: #2D4A59;
	height: 5em;
	display: block;
	position: fixed;
	width: 100%;
	z-index: 10000;
}

header h1{
	margin-top: .75em;
	top: 1em;
	margin-bottom: 0;
	color:#80949E;
}

nav{
	text-align: right;
	margin-top: .75em;
	
}

nav ul, .mininav, .album, .interests{
	padding-left: 0;
}

.mininav{
	margin-top: -1.5em;
	margin-bottom: 1.5em;
}


nav li, .mininav li, .album li, .interests li{
	list-style-type: none;
	display: inline-block;
	/*position: relative;
	z-index: -2;*/
	padding: 0 2% 0 0;
	/*line-height: 5em;*/
}

nav a:link,
nav a:visited{
	color:#80949E; 
	font-weight: bold;
}

nav a:hover,
nav a:active{
	color: #BFE0F2;
}

nav a, .mininav li, .interests li{
	display: inline-block;
	position: relative;
	z-index: 4;
}

nav a i{
	color: #46738B;
}

a:link,
a:visited,
.mininav li,
.interests li{
	color: #2D4A59;
	font-weight: bold;
	text-decoration: none;
}

.mininav i, .interests i{
	color: #80949E;
}

a:hover,
a:active{
	color: #80949E;
}

nav a i, .mininav i, .interests i{
	position: relative;
	z-index: -1;
}

nav li a:hover > i, .mininav li a:hover > i{
 color: #6DB2D7;
}

article{
	background: white;
	height: 100%;
	padding-top: 1em;
}


i{
	font-size: 2em;
	color: #80949E;
	opacity: .5;
	margin-right: -.5em;
}

.links{
	position: fixed;
	top: 10em;
	right:0;
	list-style-type: none;
	
}

.links a{
	font-size: 1.25em;
	display: block;
	margin-top: .25em;
	padding: .5em 2em .25em .5em;
	background: lightgray;
	border-radius: 25% 0 0 25%;
	opacity: 1;
}

.links a:hover i{
	color: #2D4A59;
}


.lb-overlay i{
	color: #46738B;
	margin-right: auto;
}

/*Album*/
.highlight{
	font-size: 3em;
	position: relative;
	background: darkgray;
	border-radius: 50%;
	padding:2%;
	z-index: 1;
	left: 75px;
    bottom:1em;
	opacity: 1;
}

.iconlink{
	font-size: 1.5em;
	padding:2%;
}

.iconlink:hover{
	opacity: 1;
}

.designation{
	width: 0;
	text-align: left;
	background: lightgray;
	display: inline-block;
	overflow: hidden;
	position: absolute;
    right: 5.5em;
    bottom: 1.75em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 1em;
    text-indent: 3em;
}

.album li{
	position: relative;
	text-align: center;
}


.album li a{
	background: url("../img/sprite.jpg") no-repeat;
	display:inline-block;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	border:.5em solid lightgray;
}

.picture{
	display:inline-block;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	border:.5em solid lightgray;
	float: right;
	background: #2D4A59;
	margin-left: 2%;
}

.picture i{
	font-size: 250px;
	opacity: 1;
}

.album li a h3{
	height: 250px;
	width: 250px;
	color: black;
	margin:0;
	text-align: center;
	padding: 45% 0;
	/*opacity:.85;*/
	background: rgba(169, 169, 169, .90);
	display: block;
	border-radius: 50%;
	box-sizing:border-box;
}

.album li a h3.twoline{
	padding: 40% 0;
}

.album li a:hover > h3{
	opacity: 0;
}

.album li a[href*="partners"]{
	background-position: 0 0;
}

.album li a[href*="scouts"]{
	background-position: -250px 0;
}

.album li a[href*="infinetix"]{
	background-position: -500px 0;
}

.album li a[href*="motey"]{
	background-position: 0 -250px;
}

.album li a[href*="scarlet"]{
	background-position: -250px -250px;
}

.album li a[href*="blitz"]{
	background-position: -500px -250px;
}

.album li a[href*="psych"]{
	background-position: 0 -500px;
}

.album li a[href*="mtspokane"]{
	background-position: -250px -500px;
}

.album li a[href*="manito"]{
	background-position: -500px -750px;
}

.album li a[href*="interactive"]{
	background-position: 0 -750px;
}

.album li a[href*="onesentence"]{
	background-position: -250px -750px;
}

.album li a[href*="emails"]{
	background-position: -500px -500px;
}

.album li a[href*="facebook"]{
	background-position: -500px -1000px;
}

.album li a[href*="funstuff"]{
	background-position: 0px -1000px;
}

.album li a[href*="instagram"]{
	background-position: -250px -1000px;
}

.highlight:hover,
.album li a:hover ~ .highlight{
	left:-115px;
	
}

.highlight:link ~ .designation,
.highlight:visited ~ .designation,
.album li a:link ~ .designation,
.album li a:visited ~.designation,
.highlight:link,
.highlight:visited,
.album li a:link ~ .highlight,
.album li a:visited ~ .highlight,
.album li a:link > h3,
.album li a:visited > h3{
	trasition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
}

.highlight:hover ~ .designation,
.album li a:hover ~ .designation{
	width: 250px;
	right: 2em;
}

/* OVERLAY */
.lb-overlay{
    background:  rgba(128, 148, 158, .98);
    position: fixed;
    overflow: hidden;
    right: 0px;
    top: 0;
    padding-top: 5em;
    z-index: 99;
    box-sizing:border-box;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
}

.lb-overlay h2{
	padding-bottom: 2%;
	color: #2D4A59;
}

.lb-overlay h3{
	color: #2D4A59;
}

.lb-overlay h3 a{
	opacity: .5;
}

.lb-overlay h3 a i{
	opacity: 1;
}

.lb-overlay h3 a i:hover{
	color: #2D4A59;
}

.album li div.lb-overlay a{
	background: none;
	color: #2D4A59;
	border: none;
	height: auto;
	width: auto;
}

.album li div.lb-overlay a:hover{
	color: #BFE0F2;
}

.lb-overlay a.lb-close{
    z-index: 1001;
    position: absolute;
    top: 2em;
    right:0;
    font-size: 2em;
    width: 1em;
    height: 2em;
    overflow: hidden;
    margin:1%; 
}


.portrait img{

 max-width: 65%;
}

.triplewrap{
	text-align: center;
	position: relative;
	    margin: auto;
    left: 0;
    right: 0;
}

.triple {
	position:initial; 
	display:inline;
}





.lb-overlay .overlay-content{
	margin: auto;
	position: absolute;
	padding: 5%;
	text-align: left;
	box-sizing: border-box;
	max-width: 100vw;
}

.imgframe{
	position:relative;
}

.overlay-content h2,
.overlay-content h6{
	margin-top: 0;
	/*margin-bottom: 3%*/;
}

.overlay-content h3,
.overlay-content h4,
.overlay-content h2{
	margin-bottom: 0;
}

.overlay-content h4 a{
	margin-top: 3%;
}

ul.accomplishments li:before{
	content:"\2022 \2002";
}
ul.accomplishments li{
	text-align: left;
	display: block;
}

/*	GALLERY NAVIAGATION	*/
.description, .description-landscape, .description-triple{
	position: absolute;
	overflow: hidden;
	width: 20%;
	z-index: 1005;
	top: 50vh;
	right: 10%;
	text-align: left;
}

.description-landscape{
	right: 3%;
}

.description-triple{
	right:3%; top:45vh; width:15%;
}

.description h3, .description-landscape h3, .description-triple h3{
	color: #E4F4FC;
	margin: 0;
	padding: 0;
	float: left;
}

.description li, .description-landscape li, .description-triple li{
	color: #E4F4FC;
	position: relative;
	margin: 2%;
	opacity: .75;
	    display: list-item;
	    text-align: left;
}

.lb-overlay p{
	color: #E4F4FC; 
	position: relative;
	overflow: hidden;
	z-index: 1004;
	right: 0;
	left: 0;
	margin-top: -1%;
	text-align: center;
}

.lb-overlay .title{

text-align: center;
position: relative;
margin-top: 0;
margin-bottom: 1%;
	}

.lb-overlay p.link{
	top: 82vh;
	position: absolute;
}

.lb-overlay p a{
	color: #FFEBD1;
	opacity: .5;
}

.lb-overlay p a:hover,
.lb-overlay p a:active{
	opacity: 1;
}



/*	OVERLAY NAVIGATION	*/
/*.img-nav{
	margin: 0 auto;
	width: 100%;
}*/

/*Slider*/

.slider{
	position: relative;
}

/*.landscape{
	padding-top: 62vh;
}*/

/*.landscape2{
	max-width: 95%;
	padding-top: 30%;
}
.landscape3{
	max-width: 95%;
	padding-top: 30%;
}
*/

.background{
	position: absolute;
	max-width: 78%
}

.accomplishments2{
	position: absolute;
	left: 55vw;
	top: 5em;
}

.bgportrait{
	max-width:65%;
	position:absolute;
}

.slider>img{
	position: absolute;
	left: 0;
	top: 0;
}

input[name="switch"]{
	display: none;
}

.lb-overlay:target .slider label img{
	
	opacity: .5;
	max-height: 5em;
}

.lb-overlay:target .landscape label img{
	display: inline-block;
}

.lb-overlay:target .portrait label img{
	padding-left: 30%;
	display: block;
}



/*.lb-overlay:target .portrait h3{
	margin-top: 55%;
}*/

/*Alternate Gallery*/



.lb-overlay img,
.lb-overlay iframe{
	margin: auto;
	height: auto;
	position: absolute;
	top:1em;
	left:0;
	right:0;
	/*bottom: 0;*/
	width: 25%;
	border: 5px solid #2D4A59;
	box-sizing: border-box;
    transition: opacity 0.5s linear;
}

/*.lb-overlay img{
	top:30em;
}

.lb-overlay iframe{
	top: 25em;
}*/

.imglist li img{
	width: 100%;
	display: block;
	position: initial;
	max-height: auto;
}

.lb-overlay .landscape{
	width: 50%;
	height: auto;

}

.lb-overlay .landscape2{
	width: 43%;
}

.lb-overlay .animation{
	height: 315px;
	width: 560px;
}

.lb-overlay .animation2{
	height: 315px;
	width: 420px;
}

.lb-overlay img.portrait{
	width: 20%;
}
.lb-overlay img.portrait2{
	width: 30%;
}

.portrait + div>a.lb-prev{
	left: 36.5%;
}

.portrait + div>a.lb-next{
	right: 36.5%;
}

.portrait2 + div>a.lb-prev,
.animation2 + div>a.lb-prev{
	left: 31.5%;
}

.portrait2 + div>a.lb-next,
.animation2 + div>a.lb-next{
	right:31.5%;
}

.img-nav{
	margin: 0 auto;
	width: 100%;
}

.lb-prev, .lb-next{
	
	color: #3E5866;
	font-size: 2em;
	width: 1em;
	/*height: 10em;
	line-height: 8em;*/
	display: block;
	border-radius: 5px;
    position: absolute;
    top:5em;
    opacity: 0.5;
    text-align: center;
    z-index: 1000;
}



.lb-prev:hover, .lb-next:hover{
    opacity: 1;
}

.landscape + div>a.lb-prev,
.animation + div>a.lb-prev{
	left: 22%;
}

.triplewrap + div>a.lb-prev{
	left: 15%;
}

.landscape2 + div>a.lb-prev{
	left: 25%;
}

.landscape + div>a.lb-next,
.animation + div>a.lb-next{
	right:22%;
}

.triplewrap + div>a.lb-next{
	right:15%;
}

.landscape2 + div>a.lb-next{
	right:25%;
}

.portrait + div>a.lb-prev{
	left: 36.5%;
}

.portrait + div>a.lb-next{
	right: 36.5%;
}

.portrait2 + div>a.lb-prev,
.animation2 + div>a.lb-prev{
	left: 31.5%;
}

.portrait2 + div>a.lb-next,
.animation2 + div>a.lb-next{
	right:31.5%;
}

/*	TARGET	
.lb-overlay:target {
    width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
    padding: 80px 100px 120px 100px;
}

.lb-overlay:target img,
.lb-overlay:target a.lb-close{
    opacity: 1;
}

.lb-overlay:target img{
    -webkit-animation: fadeInScale 1.5s ease-in-out;
}*/






.lb-overlay:target .tallwide label img{
	display: block;
	padding-top: 1%;
	padding-left: 40vw;
}

.tallwide > img{
 max-width: 78%;
}

.lb-overlay:target .tallwide + h3{
	margin-top: 5%;
}

.partnersbg{
	max-width: 10%;
	position: absolute;
}

/*img[src*="p4psmall"]{
	max-height: 125%;
}*/

.slider input[name="switch"]~img{
	opacity: 0;
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
}

.slider input:checked+label+img{
	opacity: 1;
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
}

/*	TARGET	*/
.lb-overlay:target {
    height: auto;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    -webkit-animation: fadeInScale 1.5s ease-in-out
}

.lb-overlay:target img,
.lb-overlay:target a.lb-close{
    opacity: 1;
}



/*@-webkit-keyframes fadeInScale {
  0% { 
  	-webkit-transform:translateX(50%);
  	opacity: 0;
   }
  100% { 
  	-webkit-transfrom:translateX(0);
  	opacity: 1;
   }
}*/

/*Footer*/


footer{
	background: darkgray;
	margin-bottom: 0;
	padding:.5% 0;
}

/*Media Queries
@media screen and (max-width: 1440px){
	.lb-overlay img{
		top:25em;
	}
}
*/
@media screen and (max-width: 1440px) and (orientation:portrait){
/*.lb-overlay .overlay-content{
		padding-top: 16em;
	}*/

	.lb-overlay .title{
		top: -1em;
	}

.lb-overlay img.portrait, .lb-overlay img.portrait2{
	width: 50%;
	/*top:1em;*/
}


.portrait + div>a.lb-prev, .triplewrap + div>a.lb-prev, .triplewrap + div>a.lb-next, .portrait2 + div>a.lb-prev, .portrait + div>a.lb-next, .landscape + div>a.lb-next, .landscape + div>a.lb-prev, .portrait2 + div>a.lb-next, .landscape2 + div>a.lb-prev, .landscape2 + div>a.lb-next, .animation + div>a.lb-prev, .animation + div>a.lb-next{
	    line-height: 0;
}

.portrait2 + div>a.lb-prev, .portrait2 + div>a.lb-next {
    top: 18em;
}

.portrait + div>a.lb-prev, .portrait + div>a.lb-next{
	top: 24em;
}

.lb-overlay .landscape, .lb-overlay .landscape2, .lb-overlay .animation{
	width: 75%;
	/*height: auto;
	top:18em;*/

}
	
	div.imgframe>.landscape + ul.description-landscape{
	top:45em;
	}

/*.lb-overlay .animation{
	height: 100%;
}

.lb-overlay .landscape2{
	top: 23em;
}*/

.landscape + div>a.lb-prev, .landscape + div>a.lb-next, .animation + div>a.lb-prev, .animation + div>a.lb-next{
    top: 12em;
}


.landscape2 + div>a.lb-prev, .landscape2 + div>a.lb-next{
	top: 21em;
}

.description-landscape, .description, .description-triple{
	width: 100%;
	padding: 0 5%;
	box-sizing:border-box;
	top:36em;
	right: 0;
}

.description{
	top: 62em;
}

/*.animation + div + .description-landscape{
	top:72vh;
}*/

/*.triplewrap{
	right: auto;
	text-align: left;
}*/

.lb-overlay .description-landscape + p.link{
	top: 43vh;
}

.lb-overlay .description + p.link{
	text-align: left;
}

.description-triple{
	top:140vh;
	position: relative;
}

/*.description, .description-triple{
	top:20vh;
	width: 35%;
}

.description-triple{
	float: right;
}*/

/*.description-triple + p.link{
    width: 35%;
    top: auto;
    left: auto;
    margin-right: 25px;
    text-align: left;
    position: absolute;
    bottom: -15em;
}

.description-triple + p.link i{
	display: none;
}*/

.triplewrap + div>a.lb-prev, .triplewrap + div>a.lb-next {

    top: 28em;
}

.lb-overlay p.link{
	padding: 0 2%;
	width: 95%;
}

/*.lb-overlay i{
	display: none;
}*/



}



@media screen and (max-width: 1200px){
	

	/*.description-triple{
		width: 100%;
		top:70vh;
		position: relative;
	}*/

	.description-triple + p.link{
		position: relative;
		top: 12em;

	}

	.lb-prev, .lb-next{
	top:3em;
	}

}



@media screen and (max-width: 959px){
	.container{
		width: 100%;
		max-width:100%;
		padding: 0 2%;
	}
	
	article.col{
		padding-left:1%;
	}

	.highlight, .designation{
		display: none;
	}

}

@media screen and (max-width: 650px) and (orientation:portrait){
	.lb-overlay .overlay-content{
		padding-top: 5em;
	}

	.lb-overlay .title{
		top: -1em;
	}
.lb-overlay img.portrait, .lb-overlay img.portrait2{
	top: 17em;
}
	
	.lb-overlay .landscape, .lb-overlay .landscape2, .lb-overlay .animation{
	top:12em;
}
	/*.lb-overlay .overlay-content{
		padding-top: 16em;
	}

	.lb-overlay .title{
		top: -13em;
	}*/
.portrait + div>a.lb-prev, .portrait2 + div>a.lb-prev, .portrait + div>a.lb-next, .portrait2 + div>a.lb-next {
    top: 9em;
}


.description-landscape, .description, .description-triple{
	top: 65vh;
}

.landscape + div>a.lb-prev, .landscape + div>a.lb-next, .animation + div>a.lb-prev, .animation + div>a.lb-next{
	top: 7em;
}

.description{
	top: 72vh;
}

.lb-overlay .description-landscape + p.link{
	top: 46vh;
}

}

@media screen and (max-width: 568px){
	.mininav{
		display: none;
	}

	header{
		height: 7em;
	}

	.lb-overlay{
		padding-top: 0;
	}
	.lb-overlay .title{
		top: 0;
	}

	header{
		position: relative;
		width: 105vw;
		z-index: 10;
	}

	nav.col{
		padding-right: 9%;
	}

	article.container{
		padding-top: 0;
	}
	
	.picture{
		display: none;
	}

	.lb-overlay a.lb-close{
		right: 1em;
		top: .25em;
	}

	
}

@media screen and (max-width: 750px) and (orientation:landscape){
.description {
    top: 140vh;
}
.lb-overlay img.portrait2{
	width: 50%;
}

.lb-overlay img.portrait{
	width: 30%;
	top: 19em;

}


.portrait + div>a.lb-prev, .triplewrap + div>a.lb-prev, .triplewrap + div>a.lb-next, .portrait2 + div>a.lb-prev, .portrait + div>a.lb-next, .landscape + div>a.lb-next, .landscape + div>a.lb-prev, .portrait2 + div>a.lb-next, .landscape2 + div>a.lb-prev, .landscape2 + div>a.lb-next, .animation + div>a.lb-prev, .animation + div>a.lb-next{
	    line-height: 0;
}

.portrait2 + div>a.lb-prev, .portrait2 + div>a.lb-next {
    top: 13.5em;
}

.portrait + div>a.lb-next, .portrait + div>a.lb-prev{
	top: 11.5em;
}

.portrait + div + .description{
	top: 125vh;
}


.lb-overlay .landscape, .lb-overlay .landscape2, .lb-overlay .animation{
	width: 60%;
	height: auto;
	top:18em;

}



.landscape + div>a.lb-prev, .landscape + div>a.lb-next, .animation + div>a.lb-prev, .animation + div>a.lb-next{
    top: 10em;
}


.landscape2 + div>a.lb-prev, .landscape2 + div>a.lb-next{
	top: 10.5em;
}

.triplewrap + div>a.lb-prev, .triplewrap + div>a.lb-next{
	top: 11em;
}


.description-landscape, .description, .description-triple {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    right: 0;
}

.description-landscape, .description-triple{
	top: 115vh;
}

.lb-overlay p.link{
	top: 88vh;
}

}
